* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(29, 28, 28);
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/bckgrdMain.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    padding: 9px 5%;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 8px 8px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 40px;
}

.header-text h1 {
    color: aqua;
    font-size: 70px;
    margin-top: 20px;
}

.header-text h1 span {
    color: yellow;
    display: inline-block;
}

/* about page*/
#about {
    background-color: #1B1B1B;
    padding: 80px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    line-height: 7mm;
    font-size: 16px;
}

.sub-title {
    font-weight: 600;
    font-size: 40px;
    color: aqua;
}

.tab-titles {
    display: flex;
    margin: 40px 0px 20px;
}

.tab-links {
    margin-right: 40px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 3px;
    bottom: -4px;
    transition: 0.5s;
    position: absolute;
    left: 0px;
    background-color: aqua;
}

.tab-links.active-link::after {
    width: 60%;
}

.tab_contents ul li {
    list-style: none;
    margin: 10px 0px;
}

.tab_contents ul li span {
    color: aqua;
    font-size: 15px;
}

.tab_contents {
    display: none;
}

.tab_contents.active-tab {
    display: block;
}

#siinqeebank {
    color: yellow;
    text-decoration: none;
}

#jimma {
    color: yellow;
    text-decoration: none;
}

/******************* service page *********************/
#services {
    padding: 30px 0px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 40px;
}

.service-list div {
    background-color: rgb(52, 51, 52);
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 13px;
    transition: background 0.5s, transform 0.5s;
}

.service-list i {
    font-size: 60px;
    margin-bottom: 20px;
    color: yellow;
}

.service-list div h2 {
    font-size: 4dvh;
    font-weight: 10000;
    margin-bottom: 20px;
    color: aqua;
}

.service-list div a {
    text-decoration: none;
    color: aqua;
    font-size: 15px;
    margin-top: 18;
    display: inline-block;
}

.service-list div:hover {
    background: rgb(122, 140, 218);
    transform: translateY(-15px);
}

/*********************portfolio***************************/
#portfolio {
    padding: 40px 0px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 30px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #88c0c7);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 20px;
    transition: 0.5s;
}

.layer h3 {
    font-weight: 600;
    margin-bottom: 20px;
    color: yellow;
}

.layer a {
    text-decoration: none;
    background-color: rgb(37, 38, 39);
    color: aqua;
    font-size: 18px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin-top: 20px;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/****************** contact info******************/
.contact-left {
    flex-basis: 35%;
    font-size: larger;
}

.contact-right {
    flex-basis: 60%;
}

.container .mailphone {
    margin-top: 15px;
    font-size: large;
    margin-bottom: 15px;
}

.container .mailphone a {
    color: azure;
    text-decoration: none;
    margin-bottom: 10px;
}

.container .mailphone i {
    color: aqua;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    font-size: 25px;
    color: #ababab;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: aqua;
    transform: translateY(-5px);
}

.btn {
    color: #ababab;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    border: 1px solid rgb(125, 128, 128);
    padding: 6px 8px;
    margin: 40px auto;
    transition: background 0.5s;
    transition: transform 0.5s;
    border-radius: 10px;
}

.btn:hover {
    color: aqua;
    transform: translateY(-5px);
    border: 1px solid aqua;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #343334;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
    border-radius: 6px;
    color: #fff;
}

button {
    font-size: 16px;
    color: #ababab;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    padding: 5px 8px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: #1B1B1B;
    border: 1px solid rgb(125, 128, 128);
    transition: background 0.5s;
    transition: transform 0.5s;
}

button:hover {
    color: aqua;
    transform: translateY(-5px);
    border: 1px solid aqua;
}

.copyright {
    text-align: center;
    width: 100%;
    background-color: #343434;
    padding: 17px 0;
    margin-top: 15px;
    font-weight: 300;
}

.copyright p i {
    color: aqua;
}

nav .fa-solid {
    display: none;
}

/********small screen ****/
@media only screen and (max-width:600px) {
    .header-text {
        margin-top: 25%;
        font-size: 40px;
    }

    .header-text h1 {
        font-size: 55px;
        margin-top: 30px;
    }
    .header-text span{
        display: inline-block;
    }

    nav .fa-solid {
        display: inline-block;
        font-size: 25 px;
    }

    nav ul {
        background: #343334;
        position: fixed;
        color: aqua;
        top: 0;
        right: -180px;
        width: 180px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 20px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }
}
#msg{
    color:#ababab;
    margin-top: -1px;
    display: block;
}
#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background-color: aqua; */
    color: #fff;
    border: none;
    border-radius: 80%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    transition: background 0.5s;
}

#back-to-top-btn:hover {
   color:aqua; /* Darker shade of aqua for hover effect */
}
